.btn-primary {
  background-color: #db2777;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #be185d;
}
